.pizza-edit-container {
    /* padding: 20px;
    background-color: #f5f5f5;
    margin-top: 60px; */

    flex-grow: 1;
    min-height: 100vh;
    padding: 20px;
    direction: rtl;
    background-color: #f0f0f0;
    margin-top: 60px;
  }
  
  .pizza-edit-box {
    padding: 40px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #333;
  }
  
  .pizza-size-selection {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    direction: rtl;
  }
  
  .pizza-card {
    max-width: 345px;
    cursor: pointer;
    transition: border-color 0.3s !important;
  }
  
  .pizza-card.selected {
    border: 2px solid #e91e63 !important;
  }
  
  .pizza-card:hover {
    border-color: #e91e63 !important;
  }
  
  .topping-group {
    direction: rtl;
    padding: 20px;
  }
  
  .topping-label {
    display: flex;
    align-items: center;
    padding: 10px;

  }
  
  .topping-checkbox {
    color: #ffb74d !important; /* Color for unchecked checkboxes */
  }
  
  .topping-checkbox.Mui-checked {
    color: #ffb74d !important; /* Color for checked checkboxes */
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    direction: rtl;
  }
  
  .quantity-display {
    margin: 0 16px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .cancel-button {
    border-color: #ffb74d !important;
    color: #ffb74d !important;
  }
  
  .cancel-button:hover {
    border-color: #ff9800 !important;
    color: #ff9800 !important;
  }
  
  .save-button {
    background-color: #ffb74d !important;
    color: #fff;
  }
  
  .save-button:hover {
    background-color: #ff9800 !important;
  }
  